body {
    background: #626262;;
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,191,216,1) 0%, rgba(33,198,224,1) 69%, rgba(0,123,255,1) 100%); 
 }

 .profile-card{
     width:200px;
     margin:auto;
     box-shadow: 0 4px 10px 0 rgba(0,0,0.5);
     margin-left: 20%;
     margin-top: 4%;
     border: black;
   

 }
 * {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    color: #cf1d52; 
    padding:16px;
    border-radius: 8px; 
    text-decoration: None; 
    font-weight: bold;
    cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
  color: #ad1845;

}
.update {
    background-color: #cf1d52; 
    padding:16px;
    border-radius: 8px; 
    text-decoration: None; 
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
  }
  
  .update:hover{
   text-decoration: None; 
   color: #ad1845;
  }
  

/* Add a blue text color to links */
a {
  color: dodgerblue;
}



 